* {
    box-sizing: border-box;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    /* Colores */
    --primary-color: #ffe600;
    --accent-color: #3483fa;
    --dark-gray: #333333;
    --medium-gray: #999999;
    --light-gray: #eeeeee;
    --white: #ffffff;

    /* Espaciado */
    --x-small: 0.25rem;
    --small: 0.5rem;
    --regular: 1rem;
    --large: 2rem;

    /* Bordes */
    --small-radius: 0.25rem;

    /* Grid */
    --container-max-width: 1200px;
    --gutter-width: 1rem;

    color-scheme: light dark;
    color: var(--dark-gray);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    /* min-height: 100vh; */
}

h1,
h3,
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

main {
    background-color: var(--light-gray);
    min-height: 100vh;
}

ul {
    margin: 0;
}

.container {
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    width: 100%;
    padding-right: var(--gutter-width);
    padding-left: var(--gutter-width);
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gutter-width);
}

.col {
    grid-column: span 1;
}

.col-1 {
    grid-column: span 1;
}
.col-2 {
    grid-column: span 2;
}
.col-3 {
    grid-column: span 3;
}
.col-4 {
    grid-column: span 4;
}
.col-5 {
    grid-column: span 5;
}
.col-6 {
    grid-column: span 6;
}
.col-7 {
    grid-column: span 7;
}
.col-8 {
    grid-column: span 8;
}
.col-9 {
    grid-column: span 9;
}
.col-10 {
    grid-column: span 10;
}
.col-11 {
    grid-column: span 11;
}
.col-12 {
    grid-column: span 12;
}

.d-flex {
    display: flex;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.auth-layout {
    padding: 2rem;
}

.auth-layout__content {
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
    overflow-y: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.breadcrumb-nav {
    padding: 1rem 0;
}

.breadcrumb {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.breadcrumb a {
    display: inline-flex;
    align-items: center;
}

.breadcrumb a:not(:last-child)::after {
    content: ">";
    margin: 0 0.5rem;
    color: var(--medium-gray);
}

.breadcrumb a:last-child {
    font-weight: bold;
}

.breadcrumb a {
    color: var(--medium-gray);
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Estilos para .header */
.header {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1020;
    padding: 0.75rem 0;
}

.header nav {
    width: 100%;
    max-width: var(--container-max-width);
    padding: 0 var(--regular);
}

.header nav .nav-content {
    flex: 1;
}

.header nav .nav-content a {
    display: flex;
    align-items: center;
}

.header nav .nav-content a img {
    width: 44px;
    height: auto;
    vertical-align: middle;
}

/* Estilos para .search */
.search {
    margin-left: var(--regular);
    background-color: var(--white);
    border-radius: var(--small-radius);
    display: flex;
    align-items: center;
    flex: 1;
}

.search:focus-within {
    border-color: var(--accent-color);
    box-shadow: 0 0 0 1.25px var(--accent-color);
}

.search input {
    border-radius: var(--small-radius);
    background-color: transparent;
    flex: 1;
    border: none;
    font-size: 1.125rem;
    color: var(--dark-gray);
    padding: var(--small);
    caret-color: var(--dark-gray);
}

.search input:focus {
    outline: none;
    border-radius: 0;
}

.search input::placeholder {
    color: var(--medium-gray);
}

.search button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 2.5rem;
    background-color: var(--light-gray);
    border-top-right-radius: var(--small-radius);
    border-bottom-right-radius: var(--small-radius);
    border: none;
    padding: 0.6rem;
}

.search button img {
    width: 1rem;
    height: 1rem;
}

.search button:focus {
    outline: none;
}
/* Estilos para .list-wrapper */
.card {
    background-color: var(--white);
    border-radius: 2px;
}

/* Estilos para .products-list */
.products-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

/* Estilos para .product-divider */
.product-divider {
    width: 90%;
    margin: 1rem auto;
    border: 0;
    height: 1px;
    background-color: var(--light-gray);
}

/* Estilos para .product-card */
.product-card {
    width: 100%;
    align-items: center;
    justify-content: center;
}
.product-card__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.product-card__title {
    font-weight: 400;
    font-size: 1.5rem;
}
.product-card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-card__price {
    margin-top: 2rem;
    font-size: 1.125rem;
}
.product-card__location {
    font-size: 12px;
    margin-top: .5rem;
}

.product-item {
    padding: 1rem;
    background-color: var(--white);
    border-radius: var(--small-radius);
    position: relative;
    align-items: center;
}

.product-image-col,
.product-info-col {
    grid-column: span 12;
}
.product-image-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    width: 120px;
    height: 120px;
    border-radius: var(--small-radius);
}

.product-image-col img {
    object-fit: contain;
}

/* Estilos para .product-title */
.product-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1em;
    margin: 0.5rem 0;
    line-height: 1.5;
}

.product-title a:hover {
    text-decoration: underline;
}

.product-title h3 {
    line-height: 1.25rem;
    font-size: 1.5em;
}

.product-title img {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
}

.product-title p {
    margin-left: auto;
    font-size: 0.75em;
}

.product-title > :first-child > a {
    display: flex;
    align-items: center;
    gap: var(--small);
}

.product-description {
    margin-top: 2rem;
}

/* Estilos para .product-description */
.product-description > p {
    font-size: 1.125em;
}

.product-detail {
    padding: 2rem;
}

.product-detail__image {
    width: 100%;
    max-width: 680px;
    object-fit: cover;
}
.product-detail__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-detail__info_condition {
    font-size: 0.875rem;
}

.product-detail__title {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: 80%;
}

.product-detail__price {
    padding: 2rem 0;
    font-size: 2.874em;
}

.main-btn {
    background-color: var(--accent-color);
    color: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    border: none;
    cursor: pointer;
    border-radius: var(--small-radius);
    width: auto;
    min-width: 12rem;
    padding: 0.5rem 1rem;
}

.product-description > h2 {
    font-size: 1.75em;
}

.product-description > p {
    font-size: 1rem;
}

@media screen and (min-width: 62em) {
    .product-detail__image,
    .product-detail__info,
    .product-description {
        grid-column: span 6;
    }

    .product-image-col {
        grid-column: span 2;
    }
    .product-info-col {
        grid-column: span 8;
    }

    .product-image {
        width: 180px;
        height: 180px;
        border-radius: var(--small-radius);
    }
}
