.list-wrapper {
    background-color: $white;
    border-radius: 2px;
}

.products-list {
    list-style: none;
    padding: 0;
    width: 100%;
}

.product-divider {
    width: 90%;
    margin: 1rem auto;
    border: 0;
    height: 1px;
    background-color: $light-gray;
}

.product-card {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.product-image {
    width: 180px;
    height: 180px;
    border-radius: $small-radius;
    
    img {
        width: 100%;
        object-fit: cover;
        vertical-align: middle;
    }
}

.product-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        line-height: 1.25rem;
        font-size: 1.5em;
    }
    img {
        vertical-align: middle;
        width: 1rem;
        height: 1rem;
    }
    p {
        margin-left: auto;
        font-size: 0.75em;
    }
}

.product-title > :first-child > a {
    display: flex;
    align-items: center;
    gap: $small;
}

.product-description {
    font-size: 1.125em;
}
