//colors
$primary-color: #ffe600;
$accent_color: #3483FA;
$dark-gray: #333333;
$medium-gray: #999999;
$light-gray: #eeeeee;

//spacing
$x-small: .25rem;
$small: .5rem;
$regular: 1rem;
$large: 2rem;

//border
$small-radius: .25rem;

//grid
$container-max-width: 1200px;
$gutter-width: 1rem;